.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio_item {
    background: var(--color-primary-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition)
}

.portfolio_item:hover {
    background-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio_item-img {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio_item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio_body h3{
    display: flex;
    justify-content: center;
}

.portfolio_body a.btn.button_style {
    margin-left: 22%;
    color: black;
}


/* ---------------- medium sized screens --------------------------*/
@media screen and (max-width: 1024px){
    .portfolio_container{
        
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

    .portfolio_body a.btn.button_style {
        margin-left: 6rem;
    }

    
  }
  
  /* ---------------- small sized screens --------------------------*/
  
  @media screen and (max-width: 600px){
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    #portfolio {
        margin-top: 25rem;
    }
    
  }
